* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "poppins", sans-serif;
  background-color: #FAFAFA;
}
.container{
  background-color: #FAFAFA;
  display: inline-block;
}

@media screen and (width>768px) {
  .container{
    display: flex;
  }
}
.pretitle{
  font-size: 24;
  font-weight: 200;
  color: #4D4F62;
}

.title{
  font-size: 24;
  font-weight: 600;
  color: #4D4F62;
}
.description1{
  font-size: 15;
  font-weight:400;
  color:#4D4F6250;
  line-height: 25px;
}
.card{
  position: relative;
  width: 311px;
  height: 222px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 25px;
}
  @media screen and (width>768px){
    .card{
      width: 350px;
      height: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

.image{
position: absolute;
bottom: 28px;
right: 28px;
}
.card-blue{
  border-top: solid #44D3D2 3.55px;
}

.card-red{
  border-top: solid #EA5454 3.55px;
}
.card-orange{
  border-top: solid #FCAE4A 3.55px;
}
  .card-darkblue{
    border-top: solid #549EF2 3.55px;
  }
.subtitle{
  font-size: 20;
  font-weight: 600;
  color: #4D4F62;
}
.description2{
  font-size: 13;
  font-weight:  400px; ;

  color: #4D4F6250;
  line-height: 23px;
}
